* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f4f5f6;
    list-style-type: none;
    font-family: 'Roboto Condensed', sans-serif;
}

.container {
    background-color: white;
    border: 1px solid green;
    height: 100vh;
    max-width: 1310px;
    padding: 0;
}

.navbar {
    background-color: #f72210 !important;
    padding: 15px;
    margin: 0;
}

/* .navbar {
    background-color: #f72210;
} */