* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

body {
  background-color: #f4f5f6;
  font-family: 'Slabo 27px', serif;
}

.container {
  background-color: white;
  max-width: 1310px;
  padding-left: 0;
  padding-right: 0;
  overflow-x: hidden;
}

.navbar {
  width: 100%;
}

.bottom-nav {
  border-bottom: 2px solid #f4f5f6;
}

.category {
  font-family: 'Roboto Condensed', sans-serif;
  color: #f72210;
  background-color: rgba(255, 255, 255, 0.9);
  bottom: 10.7em;
}

.category-2 {
  font-family: 'Roboto Condensed', sans-serif;
  color: #f72210;
  background-color: rgba(255, 255, 255, 0.9);
  bottom: 10.7em;
}

.category-3 {
  font-family: 'Roboto Condensed', sans-serif;
  color: #f72210;
  background-color: rgba(255, 255, 255, 0.9);
  bottom: 9.2em;
}

.category-4 {
  font-family: 'Roboto Condensed', sans-serif;
  color: #f72210;
  background-color: rgba(255, 255, 255, 0.9);
  bottom: 10.7em;
}

.category-5 {
  font-family: 'Roboto Condensed', sans-serif;
  color: #f72210;
  background-color: rgba(255, 255, 255, 0.9);
  bottom: 12.2em;
}

.category-6 {
  font-family: 'Roboto Condensed', sans-serif;
  color: #f72210;
  background-color: rgba(255, 255, 255, 0.9);
  bottom: 5.9em;
}

.category-7 {
  font-family: 'Roboto Condensed', sans-serif;
  color: #f72210;
  background-color: rgba(255, 255, 255, 0.9);
  bottom: 12.2em;
}

/* .category,
.category-2,
.category-3,
.category-4,
.category-5,
.category-6,
.category-7 {
  font-family: 'Roboto Condensed', sans-serif;
  color: #f72210;
  background-color: rgba(255, 255, 255, 0.9);
  bottom: 10.7em;
}

.category-3,
.category-4 {
  bottom: 9.2em;
}

.category-4,
.category-5 {
  color: #3581f4;
}

.category-5,
.category-7 {
  bottom: 12.2em;
}

.category-6 {
  bottom: 5.9em;
} */

.vs-img {
  display: flex;
  font: bold 13px/20px 'Roboto condensed', Arial, sans-serif;
  padding: 8px 15px 9px;
  bottom: -20px;
  z-index: 1;
}

.vs-line {
  margin-bottom: -5px;
  margin-top: -15px;
}

.see-all {
  margin-top: -1.3rem !important;
  margin-left: -1.3rem !important;
  margin-right: -1.3rem !important;
  padding: 1rem;
  margin-bottom: -5px !important;
}

.periscope-culture {
  margin-top: 1.5rem;
  margin-left: -0.6rem !important;
  margin-right: -0.6rem !important;
}

.periscope-culture img {
  width: auto;
}

.features2 img {
  width: auto;
}

.editors-pick {
  margin-right: -1.5rem !important;
}

.editors2 {
  margin-right: -3rem !important;
  margin-top: 2rem !important;
}

.the-end {
  position: relative;
  left: -120px;
  top: 18px;
}

.in-depth {
  margin-left: -6rem !important;
}

.text-position {
  margin-left: -1.1rem !important;
}

.skew {
  position: relative;
  top: 4.3rem;
  right: -1em;
  width: 60px;
  height: 25px;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 20% 100%);
}

/* @media only screen and (max-width: 600px) {
  .sub-text {
    margin-left: 80px;
  }
} */

@media only screen and (max-width: 767px) {
  .sub-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (max-width: 960px) {
  .category {
    font-family: 'Roboto Condensed', sans-serif;
    color: #f72210;
    background-color: rgba(255, 255, 255, 0.9);
    bottom: 9.2em;
  }

  .category-2 {
    font-family: 'Roboto Condensed', sans-serif;
    color: #f72210;
    background-color: rgba(255, 255, 255, 0.9);
    bottom: 12.2em;
  }

  .category-5 {
    font-family: 'Roboto Condensed', sans-serif;
    color: #f72210;
    background-color: rgba(255, 255, 255, 0.9);
    bottom: 9.2em;
  }

  .category-6 {
    font-family: 'Roboto Condensed', sans-serif;
    color: #f72210;
    background-color: rgba(255, 255, 255, 0.9);
    bottom: 5.6em;
  }

  .category-7 {
    font-family: 'Roboto Condensed', sans-serif;
    color: #f72210;
    background-color: rgba(255, 255, 255, 0.9);
    bottom: 9.2em;
  }
}

@media only screen and (max-width: 992px) {
  .see-all {
    margin-top: -1.3rem !important;
    margin-left: -1.3rem !important;
    margin-right: -1.3rem !important;
    padding: 1rem;
    margin-bottom: -5px !important;
    font-size: 1rem;
  }

  .vs-img {
    display: flex;
    font: bold 13px/20px 'Roboto condensed', Arial, sans-serif;
    padding: 8px 15px 9px;
    bottom: -20px;
    z-index: 1;
    left: 50%;
  }

  .skew {
    top: 3.8rem;
  }
}
